
@{
    ViewBag.Title = "PaginaPrincipal";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    @*<script src="~/Scripts/js/Escuela.js"></script>*@
    <link href="~/Content/estilos.css" rel="stylesheet" />
</head>
<body>
    <div class="separacion-padding">
        <div class="topnav">
            <a class="active" href="#">Nosotros</a>
            <a href="/ConsultaReporte/GestionReporte">Usuarios</a>
            <a href="/ConsultaReporte/ActualizarBase">Promociones</a>
            <a href="/ConsultaReporte/ActualizarBase">Notificaciones</a>
            <a href="/Escuela/Escuela">Reservaciones</a>
            <a href="/ConsultaReporte/ActualizarBase">Contacto</a>
            <a href="/ConsultaReporte/ActualizarBase">Salir</a>
        </div>

        <h3 class="bg-info text-white negrita">NOSOTROS</h3>
    </div>
</body>
</html>



