
@{
    ViewBag.Title = "Usuarios";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usuarios</title>

    <h2>Usuarios</h2>
    <h3>Este es el contenido de ususarios</h3>
</head>
<body>
    <div> 
    </div>
</body>
</html>
